APP_PORT=8000

DB_HOST=database
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DATABASE_URL=postgresql+psycopg2://postgres:postgres@database:5432/postgres

RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASS=guest
RABBIT_QUEUE=ml_tasks

SEED_ENABLED=true

JWT_SECRET=CHANGE_ME
JWT_ALG=HS256
JWT_EXPIRE_MINUTES=1440
